Source: aseqrc
Section: unknown
Priority: optional
Maintainer: David Moreno <dmoreno@coralbits.com>
Build-Depends: debhelper (>= 10), yarnpkg
Standards-Version: 4.1.2
Homepage: https://github.com/davidmoreno/aseqrc/
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/aseqrc.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/aseqrc.git

Package: aseqrc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Control Aslas Sequencer conenection via web
 This allows a raspberry pi without monitor to change connections using your
 mobile.
