Source: aseqrc
Section: unknown
Priority: optional
Maintainer: David Moreno <dmoreno@coralbits.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/aseqrc.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/aseqrc.git

Package: aseqrc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-flask, python3-sh
Description: Control Aslas Sequencer conenection via web
 This allows a raspberry pi without monitor to change connections using your
 mobile.


