/*
Palette, based on jupiter 8
 #ff6b1c
 #73d83c
 #ffea4b
 #ffa431
 #24add5
 #53545d
 #353b4c
*/

body {
    background: #53545d;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

table,
table td,
table th {
    border: 3px solid #353b4c;
    border-collapse: collapse;
}

button,
select,
input {
    background: #f5f5db;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    overflow-wrap: break-word;
}

button:hover,
select:hover,
input:hover {
    background: rgba(255, 255, 255, 0.4) !important;
}

.w-30px {
    width: 30px;
}

.w-100vw {
    width: 100vw;
}

.min-w-45px {
    min-width: 45px;
}

.min-w-400px {
    min-width: 400px;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.min-h-full{
    min-height: 100%;
}

.min-h-screen{
    min-height: 100vh;
}

.mx-10px {
    margin-right: 10px;
    margin-left: 10px;
}

.my-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-24px {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mr-10px {
    margin-right: 10px;
}

.mt-10px {
    margin-top: 10px;
}

.mb-10px {
    margin-bottom: 10px;
}

.m-10px {
    margin: 10px;
}

.mr-20px {
    margin-right: 20px;
}

.mt-20px {
    margin-top: 20px;
}

.mb-20px {
    margin-bottom: 20px;
}

.m-24px {
    margin: 24px;
}

.br-1px {
    border-right: 1px solid #353b4c;
}

.bb-1px {
    border-bottom: 1px solid #353b4c;
}

.p-3px{
    padding: 3px;
}

.px-10px {
    padding-right: 10px;
    padding-left: 10px;
}

.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-24px {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pr-10px {
    padding-right: 10px;
}

.pt-10px {
    padding-top: 10px;
}

.pb-10px {
    padding-bottom: 10px;
}

.p-10px {
    padding: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pb-20px {
    padding-bottom: 20px;
}

.p-24px {
    padding: 24px;
}

.br-1px {
    border-right: 1px solid #353b4c;
}

.bb-1px {
    border-bottom: 1px solid #353b4c;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex-grow: 1;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-small {
    font-size: 12px;
}

.text-normal {
    font-size: 14px;
}

.align-top {
    vertical-align: top;
}

.align-end {
    align-self: end;
}

.align-right {
    text-align: right;
}

.bg-orange {
    background-color: #ffa431;
}

.text-black {
    color: black;
}

.text-xs {
    font-size: 0.8rem;
}

.uppercase {
    text-transform: uppercase;
}

.fade{
    filter: grayscale(50%);
}

.shadow{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.with-sidetag {
    margin-left: 40px;
    border-left: 2px solid black;
    position: relative;
}

.sidetag, .sidetag-70 {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    padding-top: 10px;
    font-size: 0.8em;
    left: -50px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
}

.sidetag {
    top: 80px;
    max-width: 80px;
}

.sidetag-70 {
    top: 70px;
    max-width: 70px;
    font-size: 0.7em;
    left: -45px;
}

@media screen and (max-device-width: 1000px) {
    .md\:flex-col {
        flex-direction: column;
    }

    .md\:flex {
        display: flex;
    }

    .md\:hidden {
        display: none;
    }

    .md\:max-w-100vw {
        max-width: 100vw;
    }
}

@media screen and (min-device-width: 1001px) {
    .lg\:min-w-400px {
        min-width: 400px;
    }
}